.a {
  background-color: brown;
  height: 600px;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  row-gap: 20px;
}
.b {
  background-color: aqua;
  height: 150px;
  width: 100px;
  text-align: center;
  /* margin: 10px; */
  /* order: 1; */
}
.c {
  background-color: orange;
  height: 150px;
  width: 100px;
  /* order: -1; */
  /* flex: 2; */
}
.d {
  background-color: rgb(163, 63, 199);
  height: 150px;
  width: 100px;
  /* order: -2; */
  /* flex: 2; */
}
.e {
  background-color: rgb(82, 163, 113);
  height: 150px;
  width: 100px;
  /* order: 1; */
  /* flex: 2; */
}
.f {
  background-color: rgb(214, 241, 6);
  height: 150px;
  width: 100px;
  /* order: 1; */
  /* flex: 2; */
}
.g {
  background-color: rgb(233, 122, 122);
  height: 150px;
  width: 100px;
  /* order: 1; */
  /* flex: 2; */
}
