* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(sample.jpg);
  background-position: center;
  background-size: cover;
  height: 109vh;
}
.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  height: 70px;
  float: left;
}

.logo {
  color: #ff7200;
  margin-top: 20px;
  font-size: 30px;
  font-family: "Arial";
  padding-left: 20px;
  float: left;
}
.menu {
  float: left;
  width: 400px;
  height: 70px;
  margin-left: 20px;
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  margin-top: 20px;
  margin-left: 60px;
  list-style-type: none;
  font-size: 20px;
}
ul li a {
  text-decoration: none;
  color: aliceblue;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: #ff7200;
}

.search {
  float: left;
  margin-left: 260px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.srch {
  background: transparent;
  width: 200px;
  font-family: "Times New Roman", Times, serif;
  height: 23px;
  font-size: 20px;
  color: white;
  border: 1px solid #ff7200;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.srch:focus {
  outline: none;
}

.btn {
  width: 100px;
  height: 35px;
  background-color: #ff7200;
  border: 1px solid #ff7200;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-size: 17px;
}

.content {
  width: 1200px;
  height: auto;
  margin: auto;
  position: relative;
  color: white;
}

.content h1 {
  margin-top: 9%;
  font-family: "Times New Roman";
  font-size: 60px;
  padding-left: 20px;
  letter-spacing: 2px;
}
.content span {
  color: #ff7200;
  font-size: 60px;
}

.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  letter-spacing: 1.2px;
  line-height: 30px;
  font-family: Arial;
}

.cn {
  padding: 7px;
  width: 160px;
  height: 40px;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #ff7200;
  border: none;
  color: aliceblue;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.content .cn a {
  text-decoration: none;
  color: black;
}
.cn:hover {
  background-color: #fff;
}

.form {
  width: 250px;
  height: 380px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  position: absolute;
  top: -20px;
  left: 800px;
  border-radius: 10px;
  padding: 25px;
}
.form h2 {
  width: 200px;
  background-color: #fff;
  color: #ff7200;
  padding: 8px;
  margin: 2px;
  text-align: center;
  border-radius: 10px;
  font-family: sans-serif;
}
.form input {
  width: 240px;
  height: 35px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  margin-top: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

.form input:focus {
  outline: none;
}
::placeholder {
  color: #fff;
  font-family: Arial;
}

.form .btnn {
  width: 250px;
  height: 40px;
  background-color: #ff7200;
  color: #fff;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}
.form .btnn a {
  text-decoration: none;
}
.form .btnn:hover {
  color: #ff7200;
  background-color: #fff;
}
.form .link {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 30px;
  font-size: 17px;
}

.form .link a {
  color: #ff7200;
  text-decoration: none;
}

.liw {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.icons {
  width: 300px;
}
.icons a {
  text-decoration: none;
  color: white;
}

.icons i {
  color: white;
  font-size: 30px;
  padding-left: 14px;
  padding-top: 5px;
  /* margin-left: 3px; */
  transition: 0.3s ease-in-out;
}

.icons i:hover {
  color: #ff7200;
}
