* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.2;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: aqua;
}
footer {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  margin-top: auto;
  background-color: rgb(255, 255, 255);
  padding: 60px 10%;
}
.footer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* padding: 20px; */
}
ul {
  list-style: none;
}
.footer-col {
  /* width: 25%; */
  height: 130px;
}
.footer-col h4 {
  position: relative;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  color: rgb(197, 17, 17);
  text-transform: capitalize;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -6px;
  border-color: rgb(93, 239, 190);
  height: 2px;
  width: 40px;
}
ul li:not(:last-child) {
  margin-bottom: 8px;
}
.footer-col ul a {
  text-decoration: none;
}

li ul a {
  display: block;
  font-size: 19px;
  text-transform: capitalize;
  color: aliceblue;
  text-decoration: none;
  transition: 0.4s;
}
li ul a :hover {
  color: white;
  padding-left: 2px;
}

.links a {
  display: inline-block;
  height: 44px;
  width: 44px;
  color: white;
  background-color: rgba(205, 30, 14, 0.8);
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  transition: 0.4s;
}

.links a:hover {
  color: #4d4f55;
  background-color: white;
}
.social {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
@media (max-width: 740px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
  }
  .footer-col h4::before {
    all: unset;
  }
}
@media (max-width: 550px) {
  .footer-col {
    width: 100%;
  }

  /* ul {
    display: flex;
    justify-content: space-around;
  } */
}
