/* body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

canvas {
  display: block;
} */

/* second ------------------------------------------------*/
/* 
body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

canvas {
  display: block;
} */

/* 3rd ---------------------------------------------- */

body {
  margin: 0;
  overflow: hidden;
  background: #000;
  /* background-image: url(display.png); */
}

canvas {
  display: block;
}
