body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  padding: 0;
  margin: 0;
  min-height: 500vh;
  background-color: rgb(139, 201, 228);
  animation: body 1s linear;
}
@keyframes body {
  to {
    background-color: rgb(19, 48, 97);
  }
}

.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    background-color: rgb(37, 177, 160);
    width: 100%;
  }
}

.nav2 {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
}

.nav2 a {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav2 a:hover {
  background-color: #ddd;
  color: black;
}

.nav2 a.active {
  /* background-color: #04aa6d; */
  color: white;
}

.nav2 .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav2 a {
    display: none;
  }
  .nav2 a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav2.responsive {
    position: relative;
  }
  .nav2.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav2.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
