* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.api-category {
  padding: 20px;
}
/* buisness-details-------------------------------------------------------------- */
.buisness-details {
  border: 0.5px solid rgb(239, 232, 232);
  height: 220px;
  width: 100%;
  border-radius: 10px;
}
.name-address {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.buisness-related {
  display: flex;
}
.buisness-related {
  display: flex;
  flex-direction: row;
}
.name {
  padding-left: 10px;
  font-size: 1.6vw;
}
li {
  list-style-type: none;

  margin-right: 10px;
}
.related {
  text-decoration: none;
  color: black;
  border: 0.5px solid rgb(239, 232, 232);
  border-radius: 5px;
  font-size: 12px;
  padding: 3px;
  background-color: rgb(245, 241, 241);
}
.related:hover {
  background-color: rgb(236, 231, 231);
}
ul {
  display: flex;
}
.ratinginfo {
  padding: 0 0 0 20px;
}
.point {
  border: 0.5px solid rgb(239, 232, 232);
  width: 27px;
  border-radius: 5px;
  padding: 3px;
  background-color: rgb(42, 133, 49);
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.star {
  padding: 0px 0px 0px 10px;
  color: rgb(255, 110, 0);
}
.rating4 {
  color: #746655;
  padding-left: 15px;
}
.claimed {
  padding-left: 10px;
  display: flex;
}
.address-time {
  display: flex;
  padding-top: 7px;
}
.c-time {
  padding-left: 10px;
  font-size: 14 px;
}
.people-enquired {
  display: flex;
  padding-top: 7px;
}
.phone-edit {
  padding-top: 7px;
  display: flex;
}
.phno {
  display: flex;
  border: 0.5px solid rgb(239, 232, 232);
  width: 110px;
  padding: 10px;
  height: 20px;
  border-radius: 5px;
  background-color: rgb(51, 157, 58);
  color: white;
  cursor: pointer;
}
.phno:hover {
  background-color: rgb(46, 181, 55);
}
.chat-share-edit {
  display: flex;
}
.other {
  display: flex;
  border: 0.5px solid rgb(239, 232, 232);
  padding: 10px;
  height: 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.other:hover {
  background-color: #f3f1ee;
}
.btn {
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  color: white;
  background-color: #0076d7;
  border: none;
}
.btn:hover {
  background-color: #2993ea;
}
.buisness-rating-other {
  display: flex;
  justify-content: space-between;
}
.enquire {
  padding: 10px;
  margin-top: 66px;
}
.time-service-makeup-address {
  display: flex;
}
/* time-service-makeup-------------------------------------------------------------------- */
.time-service-makeup {
  border: 0.5px solid rgb(239, 232, 232);
  height: 500px;
  width: 70%;
  border-radius: 10px;
  margin-top: 20px;
}
.timings-suggest {
  padding: 20px;
}
.tim {
  padding-top: 10px;
  padding-bottom: 10px;
}
.day-open {
  margin-top: 10px;
  display: flex;
}
.suggest {
  display: flex;
  padding-top: 10px;
}
.Suggest-new-hours {
  text-decoration: none;
  color: #0a7bd8;
}

.services-makeup-more {
  display: flex;
  margin-left: 40px;
}
.service {
  padding: 40px 10px;
}
.home-service {
  display: flex;
  padding-top: 20px;
}
/* makeup------------------------------------------------------------------- */
.makeup {
  padding: 40px 10px;
  /* margin-left: 20px; */
}
.makeup-point {
  display: flex;
  padding-top: 20px;
}
.more {
  color: aqua;
  padding-top: 20px;
}
.viewall {
  display: flex;
  justify-content: center;
}
.view {
  padding: 5px 28px;
  border-radius: 5px;
  /* border: none; */
  border: 0.5px solid #0579d8;
  background-color: #fcfcfc;
}
.view:hover {
  background-color: #c3d7e7;
}
/* addrress----------------------------------------------------------------------------------- */
.addrress {
  border: 0.5px solid rgb(239, 232, 232);
  height: 500px;
  width: 30%;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
.address-info {
  padding: 20px;
}
.copy {
  margin-top: 15px;
  color: #368cde;
  display: flex;
  cursor: pointer;
  font-size: 16px;
}
.addres-hr {
  /* border: 1px red; */
  /* border: 1px solid rgb(239, 232, 232); */
  width: 30%;

  margin: auto;
}
.address-icon-other {
  display: flex;
  text-decoration: none;
  color: #241606;
}
.email-other {
  padding: 20px 30px;
}
.address-other {
  padding-top: 10px;
}
/* Responsive-------------------------------------------------------------------------------------- */

@media (max-width: 850px) {
  .buisness-details {
    height: 250px;
  }
  .buisness-rating-other {
    display: block;
  }
  .enquire {
    margin-top: 0px;
  }
  .addrress {
    height: 600px;
  }
  .time-service-makeup {
    height: 600px;
  }
}
@media (max-width: 600px) {
  .buisness-details {
    height: 300px;
  }
  .makeup {
    padding-right: 50px;
  }
  .phone-edit {
    display: block;
  }
  .chat-share-edit {
    padding: 10px;
    margin-left: -20px;
  }
}
@media (max-width: 430px) {
  .buisness-details {
    height: 320px;
  }
  .services-makeup-more {
    display: block;
  }
  .addrress {
    height: 800px;
  }
  .time-service-makeup {
    height: 800px;
  }
  .phone-edit {
    display: block;
  }
  .address-info {
    font-size: 10px;
  }
  .address-other {
    font-size: 10px;
  }
}
@media (max-width: 388px) {
  .buisness-details {
    height: 350px;
  }
}
